<%- include('partials/header') %>

<h1>Home</h1>
<p><%= homeContent%></p>

<% posts_array.forEach(function (post_obj) { %>

    <h1><%= post_obj.postTitle %></h1>
  <p>
    <%= post_obj.postBody %>
    <a href= "/posts/<%= post_obj.postTitle%>">Read More</a>
  </p>

<%})%>

<%- include('partials/footer') %>
